<<<<<<< HEAD
.center{
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    gap: 20px;
=======
.center{
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    gap: 20px;
>>>>>>> 7e17f8c (проверка)
}